<h4>type</h4>
<gt-button label='自定义label'></gt-button>
<gt-button type="warning" label='warning'></gt-button>
<gt-button type="error" label='error'></gt-button>
<gt-button type="simple" label='simple'></gt-button>
<gt-button type="success" label='success'></gt-button>

<h4>size</h4>
<gt-button type="success" size='large' label='large'></gt-button>
<gt-button type="success"></gt-button>
<gt-button type="success" size='small' label='small'></gt-button>

<h4>disabled</h4>
<gt-button disabled='true'></gt-button>