<gt-popover-wrap>
  PopTextBottom
  <ng-template gtPopoverContent>
    <div>
      PopContentBottom
    </div>
  </ng-template>
</gt-popover-wrap>
<gt-popover-wrap [align]="'LEFT'">
  PopTextLeft
  <ng-template gtPopoverContent>
    <div>
      PopContentLeft
    </div>
  </ng-template>
</gt-popover-wrap>
<gt-popover-wrap [align]="'RIGHT'">
  PopTextRight
  <ng-template gtPopoverContent>
    <div>
      PopContentRight
    </div>
  </ng-template>
</gt-popover-wrap>
<gt-popover-wrap [align]="'TOP'">
  PopTextTop
  <ng-template gtPopoverContent>
    <div>
      PopContentTop
    </div>
  </ng-template>
</gt-popover-wrap>
